  body {
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom right, #070630 0%,#060454 100%);
    min-height: 100vh;
  }
  
  .animation-container {
    display: block;
    position: absolute;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    
    .lightning-container {
      position: absolute;
      top: 50%;
      left: 0;
      display: flex;
      transform: translateY(-50%);
      
      .lightning {
        position: absolute;
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 12px;
        transform-origin: 6px 6px;
  
        animation-name: woosh;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
        animation-direction: alternate;
  
        &.white {
          background-color: white;
          box-shadow: 0px 50px 50px 0px transparentize(white, 0.7);
        }
  
        &.red {
          background-color: #fc7171;
          box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
          animation-delay: 0.2s;
        }
      }
    }
    
    
    .boom-container {
      position: absolute;
      display: flex;
      width: 80px;
      height: 80px;
      text-align: center;
      align-items: center;
      transform: translateY(-50%);
      left: 200px;
      top: -145px;
      
      .shape {
        display: inline-block;
        position: relative;
        opacity: 0;
        transform-origin: center center;
        
        &.triangle {
          width: 0;
          height: 0;
          border-style: solid;
          transform-origin: 50% 80%;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
          margin-left: -15px;
          border-width: 0 2.5px 5px 2.5px;
          border-color: transparent transparent #42e599 transparent;
          animation-name: boom-triangle;
          
          &.big {
            margin-left: -25px;
            border-width: 0 5px 10px 5px;
            border-color: transparent transparent #fade28 transparent;
            animation-name: boom-triangle-big;
          }
        }
        
        &.disc {
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: #d15ff4;
          animation-name: boom-disc;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
        }
        
        &.circle {
          width: 20px;
          height: 20px;
          animation-name: boom-circle;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
          border-radius: 100%;
          margin-left: -30px;
          
          &.white {
            border: 1px solid white;
          }
          
          &.big {
            width: 40px;
            height: 40px;
            margin-left: 0px;
            
            &.white {
              border: 2px solid white;
            }
          }
        }
        
        &:after {
          background-color: rgba(178, 215, 232, 0.2);
        }
      }
      
      .shape {
        &.triangle, &.circle, &.circle.big, &.disc {
          animation-delay: .38s;
          animation-duration: 3s;
        }
        
        &.circle {
          animation-delay: 0.6s;
        }
      }
      
      &.second {
        left: 485px;
        top: 155px;
        .shape {
          &.triangle, &.circle, &.circle.big, &.disc {
            animation-delay: 1.9s;
          }
          &.circle {
            animation-delay: 2.15s;
          }
        }
      }
    }
  }
  
  @keyframes woosh {
    0% {
      width: 12px;
      transform: translate(0px, 0px) rotate(-35deg);
    }
    15% {
      width: 50px;
    }
    30% {
      width: 12px;
      transform: translate(214px, -150px) rotate(-35deg);
    }
    30.1% {
      transform: translate(214px, -150px) rotate(46deg);
    }
    50% {
      width: 110px;
    }
    70% {
      width: 12px;
      transform: translate(500px, 150px) rotate(46deg);
    }
    70.1% {
      transform: translate(500px, 150px) rotate(-37deg);
    }
    
    85% {
      width: 50px;
    }
    100% {
      width: 12px;
      transform: translate(700px, 0) rotate(-37deg);
    }
  }
  
  @keyframes boom-circle {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      transform: scale(3);
    }
    100% {
    }
  }
  
  @keyframes boom-triangle-big {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    
    40% {
      opacity: 0;
      transform: scale(2.5) translate(50px, -50px) rotate(360deg);
    }
    100% {
    }
  }
  
  @keyframes boom-triangle {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    
    30% {
      opacity: 0;
      transform: scale(3) translate(20px, 40px) rotate(360deg);
    }
    
    100% {
    }
  }
  
  @keyframes boom-disc {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    40% {
      opacity: 0;
      transform: scale(2) translate(-70px, -30px);
    }
    100% {
      
    }
  }
  
  
  .footer {
    color: white;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    font-weight: 200;
    padding: 10px 20px;
    
    a {
      &,
      &:hover,
      &:focus,
      &:visited {
        color: #c6c6c6;
      }
    }
  }

  body { 
    background: #009688;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
  }
  .loop-wrapper {
    
    margin: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-bottom: 3px solid #fff;
    color: #fff;
  }
  .mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow: 
      0 0 0 50px #4DB6AC,
      60px 50px 0 70px #4DB6AC,
      90px 90px 0 50px #4DB6AC,
      250px 250px 0 50px #4DB6AC,
      290px 320px 0 50px #4DB6AC,
      320px 400px 0 50px #4DB6AC
      ;
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
  }
  .hill {
    position: absolute;
    right: -900px;
    bottom: -50px;
    width: 400px;
    border-radius: 50%;
    height: 20px;
    box-shadow: 
      0 0 0 50px #4DB6AC,
      -20px 0 0 20px #4DB6AC,
      -90px 0 0 50px #4DB6AC,
      250px 0 0 50px #4DB6AC,
      290px 0 0 50px #4DB6AC,
      620px 0 0 50px #4DB6AC;
    animation: hill 4s 2s linear infinite;
  }
  .tree, .tree:nth-child(2), .tree:nth-child(3) {
    position: absolute;
    height: 100px; 
    width: 35px;
    bottom: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
  }
  .rock {
    margin-top: -17%;
    height: 2%; 
    width: 2%;
    bottom: -2px;
    border-radius: 20px;
    position: absolute;
    background: #ddd;
  }
  .truck, .wheels {
    transition: all ease;
    width: 85px;
    margin-right: -60px;
    bottom: 0px;
    right: 50%;
    position: absolute;
    background: #eee;
  }
  .truck {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
    background-size: contain;
    height: 60px;
  }
  .truck:before {
    content: " ";
    position: absolute;
    width: 25px;
    box-shadow:
      -30px 28px 0 1.5px #fff,
       -35px 18px 0 1.5px #fff;
  }
  .wheels {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
    height: 15px;
    margin-bottom: 0;
  }
  
  .tree  { animation: tree 3s 0.000s linear infinite; }
  .tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
  .tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
  .rock  { animation: rock 4s   -0.530s linear infinite; }
  .truck  { animation: truck 4s   0.080s ease infinite; }
  .wheels  { animation: truck 4s   0.001s ease infinite; }
  .truck:before { animation: wind 1.5s   0.000s ease infinite; }
  
  
  @keyframes tree {
    0%   { transform: translate(1350px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  @keyframes tree2 {
    0%   { transform: translate(650px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  @keyframes tree3 {
    0%   { transform: translate(2750px); }
    50% {}
    100% { transform: translate(-50px); }
  }
  
  @keyframes rock {
    0%   { right: -200px; }
    100% { right: 2000px; }
  }
  @keyframes truck {
    0%   { }
    6%   { transform: translateY(0px); }
    7%   { transform: translateY(-6px); }
    9%   { transform: translateY(0px); }
    10%   { transform: translateY(-1px); }
    11%   { transform: translateY(0px); }
    100%   { }
  }
  @keyframes wind {
    0%   {  }
    50%   { transform: translateY(3px) }
    100%   { }
  }
  @keyframes mtn {
    100% {
      transform: translateX(-2000px) rotate(130deg);
    }
  }
  @keyframes hill {
    100% {
      transform: translateX(-2000px);
    }
  }


